@import "colors/colors.css";

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

.modules-right {
  margin-right: 12px;
}

tooltip {
  background: @bg0;
  border: 1px solid @blue;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background: @bg0;
  padding: 8px 5px;
  border-radius: 16px;
  color: @text;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#clock {
  color: @fg;
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
}

#battery {
  color: @green;
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @purple;
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
}

#pulseaudio.muted {
  color: @red;
}

#network {
  color: @blue;
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
}

#network.disconnected {
  color: @red;
}

#custom-launcher {
  color: @blue;
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
  margin-left: 8px;
}

#tray {
  background: @bg0;
  border-radius: 16px;
  padding: 8px 16px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

