/* Catppuccin Mocha */
@define-color bg0 #1e1e2e;
@define-color bg1 #313244;
@define-color bg2 #45475a;
@define-color fg #cdd6f4;
@define-color text #cdd6f4;
@define-color red #f38ba8;
@define-color orange #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color blue #89b4fa;
@define-color purple #cba6f7;
@define-color pink #f5c2e7;
@define-color lavender #b4befe;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

