@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#tray,
#bluetooth,
#network,
#custom-expand-icon,
#clock {
  background-color: @foreground;
  color: @background;
  border-radius: 50px;
  padding: 4px 15px;
  margin: 4px 4px;
  transition: all 0.3s ease;
}
#custom-omarchy {
  font-size: 18px;
  padding: 0px 14px;
  margin: 4px 4px;
  padding-left: 12px;
  padding-right: 18px;
}
#workspaces {
  background-color: transparent;
  margin: 4px 4px;
}

#workspaces button {
  background-color: @foreground;
  color: @background;
  border-radius: 50px;

  /* Tighter padding for the Ghosts so they look like small pellets */
  padding: 0 8px;
  min-width: 15px;
  margin: 0 3px;

  /* THE ANIMATION: This creates the "Bouncy/Springy" effect */
  /* It overshoots slightly (1.275) to give it a fun "pop" */
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#workspaces button.active {
  background-color: @background;
  color: @foreground;

  /* Pacman expands wide to "eat" the space */
  padding: 0 20px;
  min-width: 35px;

  box-shadow: 0 0 2px 1px @foreground;
}

#workspaces button.empty {
  opacity: 0.4;
}
/* --- Tooltips --- */
tooltip {
  background: @foreground;
  color: @background;
  border-radius: 10px;
  border: 1px solid @background;
}

tooltip label {
  padding: 5px 10px;
  color: @background;
}

/* --- Hover Effects --- */
#cpu:hover,
#battery:hover,
#pulseaudio:hover,
#custom-omarchy:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover,
#tray:hover,
#bluetooth:hover,
#network:hover,
#custom-expand-icon:hover,
#clock:hover,
#workspaces button:hover {
  background-color: @background;
  color: @foreground;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* --- Layout --- */
.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#custom-update,
#custom-screenrecording-indicator {
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
  background-color: @foreground;
}

.hidden {
  opacity: 0;
}
